{
  "presets": [
    [
      "@babel/preset-env",
      { 
        "modules": false 
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@utils": "./src/utils",
        "@exceptions": "./src/errors",
        "@spies": "./src/spies"
      }
    }]
  ]
}